[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-policies
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-desktop-user-password

Name=System policies
