[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-policies
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-desktop-user-password

Name=System policies
Name[cs]=Pravidla systému
Name[da]=Systempolitikker
Name[de]=Systemberechtigungen
Name[el]=Πολιτικές συστήματος
Name[en_GB]=System policies
Name[es]=Políticas del sistema
Name[et]=Süsteemi reeglid
Name[fr]=Stratégies système
Name[hu]=Rendszerházirendek
Name[it]=Politiche di sistema
Name[km]=នយោបាយ​ប្រព័ន្ធ​
Name[nb]=Systempraksis
Name[nds]=Systeemregeln
Name[nl]=Systeembeleid
Name[pa]=ਸਿਸਟਮ ਪਾਲਸੀ
Name[pt]=Políticas do sistema
Name[pt_BR]=Políticas do sistema
Name[ro]=Politici de sistem
Name[ru]=Политика безопасности системы
Name[sv]=Systempolicy
Name[tr]=Sistem politikaları
Name[uk]=Системні правила доступу
Name[x-test]=xxSystem policiesxx
Name[zh_TW]=系統政策
