[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-policies
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-desktop-user-password

Name=System policies
Name[ar]=سياسات النظام
Name[ca]=Polítiques del sistema
Name[ca@valencia]=Polítiques del sistema
Name[cs]=Pravidla systému
Name[da]=Systempolitikker
Name[de]=Systemberechtigungen
Name[el]=Πολιτικές συστήματος
Name[en_GB]=System policies
Name[es]=Políticas del sistema
Name[et]=Süsteemi reeglid
Name[fi]=Järjestelmämenettelytavat
Name[fr]=Stratégies système
Name[hr]=Pravila sustava
Name[hu]=Rendszerházirendek
Name[it]=Politiche di sistema
Name[km]=នយោបាយ​ប្រព័ន្ធ​
Name[lv]=Sistēmas politikas
Name[nb]=Systempraksis
Name[nds]=Systeemregeln
Name[nl]=Systeembeleid
Name[pa]=ਸਿਸਟਮ ਪਾਲਸੀ
Name[pl]=Polityka systemu
Name[pt]=Políticas do sistema
Name[pt_BR]=Políticas do sistema
Name[ro]=Politici de sistem
Name[ru]=Политика безопасности системы
Name[sk]=Systémové politiky
Name[sr]=Системске смернице
Name[sr@ijekavian]=Системске смјернице
Name[sr@ijekavianlatin]=Sistemske smjernice
Name[sr@latin]=Sistemske smernice
Name[sv]=Systempolicy
Name[th]=นโยบายต่าง ๆ ของระบบ
Name[tr]=Sistem politikaları
Name[ug]=سىستېما سىياسىتى
Name[uk]=Системні правила доступу
Name[x-test]=xxSystem policiesxx
Name[zh_TW]=系統政策
