[Desktop Entry]
Exec=kcmshell4 kcm_polkitconfig
Icon=system-lock-screen
Type=Service
X-KDE-ServiceTypes=KCModule
#X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_polkitconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Global Policy Configuration
Name[ca]=Configuració de la política global
Name[ca@valencia]=Configuració de la política global
Name[cs]=Nastavení globálních pravidel
Name[da]=Konfiguration af global politik
Name[de]=Allgemeine Berechtigungseinstellung
Name[el]=Καθολική διαμόρφωση πολιτικών
Name[en_GB]=Global Policy Configuration
Name[es]=Configuración de políticas global
Name[et]=Reeglite globaalne seadistamine
Name[fr]=Configuration globale des stratégies
Name[hr]=Konfiguracija globalnih pravila
Name[hu]=Globális házirend-beállítások
Name[it]=Configurazione delle politiche globali
Name[km]=ការកំណត់​​រចនាសម្ព័ន្ធ​នយោបាយ​សកល​
Name[nb]=Globalt praksisoppsett
Name[nds]=Globaal Regeln instellen
Name[nl]=Configuratie voor globaal beleid
Name[pa]=ਗਲੋਬਲ ਪਾਲਸੀ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja polityki globalnej
Name[pt]=Configuração da Política Global
Name[pt_BR]=Configuração da política global
Name[ro]=Configurare de politică globală
Name[ru]=Настройка общей политики
Name[sr]=Подешавање глобалних смерница
Name[sr@ijekavian]=Подешавање глобалних смјерница
Name[sr@ijekavianlatin]=Podešavanje globalnih smjernica
Name[sr@latin]=Podešavanje globalnih smernica
Name[sv]=Inställning av global policy
Name[tr]=Genel Politika Yapılandırması
Name[uk]=Налаштування загальних правил доступу
Name[x-test]=xxGlobal Policy Configurationxx
Name[zh_TW]=全域政策設定

Comment=Configure global settings for system policies
Comment[ca]=Configura l'arranjament global de les polítiques del sistema
Comment[ca@valencia]=Configura l'arranjament global de les polítiques del sistema
Comment[cs]=Nastavit globální nastavení pro pravidla systému
Comment[da]=Sæt globale indstillinger for systempolitikker
Comment[de]=Allgemeine Einstellungen für Systemberechtigungen festlegen
Comment[el]=Διαμόρφωση των καθολικών επιλογών στις πολιτικές του συστήματος
Comment[en_GB]=Configure global settings for system policies
Comment[es]=Configurar las preferencias globales de las políticas del sistema
Comment[et]=Süsteemi reeglite globaalne seadistamine
Comment[fi]=Aseta järjestelmämenettelutapojen yleisasetukset
Comment[fr]=Configure les paramètres globaux des stratégies système
Comment[hr]=Podesite globalne postavke za pravila sustava
Comment[hu]=A rendszerházirendek globális beállításainak megadása
Comment[it]=Configura le impostazione globali delle politiche di sistema
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​សកល​ សម្រាប់​នយោបាយ​ប្រព័ន្ធ​
Comment[lv]=Konfigurēt sistēmas politiku globālos iestatījumus
Comment[nb]=Sett opp globale innstillinger for systempraksis
Comment[nds]=Globaal Instellen för Systeemregeln fastleggen
Comment[nl]=Globale instellingen voor systeembeleid configureren
Comment[pa]=ਸਿਸਟਮ ਪਾਲਸੀ ਲਈ ਗਲੋਬਲ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj globalne ustawienia dla polityki systemu
Comment[pt]=Configurar as opções globais das políticas do sistema
Comment[pt_BR]=Configura as opções globais para as políticas do sistema
Comment[ro]=Configurează parametrii globali pentru politici de sistem
Comment[ru]=Настройка общих параметров политики безопасности системы
Comment[sr]=Подеси глобалне поставке системских смерница
Comment[sr@ijekavian]=Подеси глобалне поставке системских смјерница
Comment[sr@ijekavianlatin]=Podesi globalne postavke sistemskih smjernica
Comment[sr@latin]=Podesi globalne postavke sistemskih smernica
Comment[sv]=Anpassa globala inställningar av systempolicy
Comment[th]=ปรับแต่งการตั้งค่าทั่วไปของนโยบายต่าง ๆ ของระบบ
Comment[tr]=Sistem politikaları için genel ayarları yapılandır
Comment[uk]=Налаштування загальних параметрів системних правил доступу
Comment[x-test]=xxConfigure global settings for system policiesxx
Comment[zh_TW]=設定系統政策的全域設定

X-KDE-Keywords=system,policy,policies,security,polkit,policykit,password
X-KDE-Keywords[cs]=systém,pravidlo,pravidla,bezpečnost,polkit,policykit,heslo
X-KDE-Keywords[da]=system,politik,politikker,sikkerhed,polkit,policykit,adgangskode
X-KDE-Keywords[el]=σύστημα,πολιτική,πολιτικές,ασφάλεια,polkit,policykit,password
X-KDE-Keywords[es]=sistema,política,políticas,seguridad,polkit,policykit,contraseña
X-KDE-Keywords[hu]=rendszer,házirend,házirendek,biztonság,polkit,policykit,jelszó
X-KDE-Keywords[it]=sistema,politica,politiche,sicurezza,polkit,policykit,password
X-KDE-Keywords[nl]=systeem,beleid,beleidsregels,beveiliging,polkit,policykit,wachtwoord
X-KDE-Keywords[pt]=sistema,política,políticas,segurança,polkit,policykit,senha
X-KDE-Keywords[pt_BR]=sistema,política,políticas,segurança,polkit,policykit,senha
X-KDE-Keywords[sv]=system,policy,säkerhet,polkit,policykit,lösenord
X-KDE-Keywords[uk]=system,policy,policies,security,polkit,policykit,password,система,правило,правила,безпека,пароль,паролі
X-KDE-Keywords[x-test]=xxsystem,policy,policies,security,polkit,policykit,passwordxx
X-KDE-Keywords[zh_TW]=system,policy,policies,security,polkit,policykit,password
