[Desktop Entry]
Exec=kcmshell4 kcm_polkitconfig
Icon=system-lock-screen
Type=Service
X-KDE-ServiceTypes=KCModule
#X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_polkitconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Global Policy Configuration
Name[uk]=Налаштування загальних правил доступу
Name[x-test]=xxGlobal Policy Configurationxx

Comment=Configure global settings for system policies
Comment[uk]=Налаштування загальних параметрів системних правил доступу
Comment[x-test]=xxConfigure global settings for system policiesxx

X-KDE-Keywords=system,policy,policies,security,polkit,policykit,password
