[Desktop Entry]
Exec=kcmshell4 kcm_polkitactions
Icon=system-lock-screen
Type=Service
X-KDE-ServiceTypes=KCModule
#X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_polkitactions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Actions Policy
Name[cs]=Pravidla činností
Name[da]=Politik for handlinger
Name[de]=Aktionsberechtigungen
Name[et]=Toimingute reeglid
Name[hu]=Műveleti házirend
Name[it]=Politiche delle azioni
Name[nb]=Praksis for handlinger
Name[nds]=Akschonenregel
Name[nl]=Beleid voor acties
Name[pt]=Política das Acções
Name[pt_BR]=Política de ações
Name[sv]=Åtgärdspolicy
Name[uk]=Правила дій
Name[x-test]=xxActions Policyxx
Name[zh_TW]=動作政策

Comment=Configure policies for trusted actions in the system
Comment[cs]=Nastavit pravidla pro důvěryhodné činnosti v systému
Comment[da]=Indstil politikker for betroede handlinger i systemet
Comment[de]=Berechtigungen für vertrauliche Aktionen im System einrichten
Comment[et]=Süsteemi usaldusväärsete toimingute reeglite seadistamine
Comment[hu]=Házirendek beállítása a rendszerben a megbízható műveletekhez
Comment[it]=Configura le politiche delle azioni fidate nel sistema
Comment[nb]=Sett opp praksis for tiltrodde handlinger i systemet
Comment[nds]=Regeln för troot Akschonen op Dien Systeem fastleggen
Comment[nl]=Beleid voor vertrouwde acties in het systeem configureren
Comment[pt]=Configurar as políticas para as acções fidedignas no sistema
Comment[pt_BR]=Configura as políticas para as ações confiáveis no sistema
Comment[sv]=Anpassa policy för pålitliga åtgärder i systemet
Comment[uk]=Налаштування правил щодо виконання довірених дій у системі
Comment[x-test]=xxConfigure policies for trusted actions in the systemxx
Comment[zh_TW]=設定系統內受到信任的動作的政策

X-KDE-Keywords=system,policy,policies,security,polkit,policykit,password
