[Desktop Entry]
Exec=kcmshell4 kcm_polkitactions
Icon=system-lock-screen
Type=Service
X-KDE-ServiceTypes=KCModule
#X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_polkitactions
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-policies

Name=Actions policy
Name[cs]=Pravidla činností
Name[da]=Politik for handlinger
Name[de]=Aktionsregeln
Name[en_GB]=Actions policy
Name[es]=Política de acciones
Name[et]=Toimingute reegel
Name[fi]=Toimintojen menettelytapa
Name[fr]=Stratégie des actions
Name[it]=Politiche delle azioni
Name[km]=គោលនយោបាយ​សកម្មភាព
Name[lv]=Darbību politika
Name[nl]=Beleid voor acties
Name[pt]=Política das acções
Name[pt_BR]=Política de ações
Name[ro]=Politică acțiuni
Name[sv]=Åtgärdspolicy
Name[uk]=Правила дій
Name[x-test]=xxActions policyxx
Name[zh_TW]=動作政策

Comment=Configure policies for trusted actions in the system
Comment[cs]=Nastavit pravidla pro důvěryhodné činnosti v systému
Comment[da]=Indstil politikker for betroede handlinger i systemet
Comment[de]=Regeln für vertrauliche Aktionen im System einrichten
Comment[en_GB]=Configure policies for trusted actions in the system
Comment[es]=Configurar políticas para acciones de confianza en el sistema
Comment[et]=Süsteemi usaldusväärsete toimingute reeglite seadistamine
Comment[fi]=Asetusmenettelytavat luetuille toimnoille järjestelmässä
Comment[fr]=Configurer les stratégies pour les actions sécurisées dans le système
Comment[it]=Configura le politiche delle azioni fidate nel sistema
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​គោលនយោបាយ​ សម្រាប់​សកម្មភាព​ដែល​ទុកចិត្ត​នៅ​ក្នុង​ប្រព័ន្ធ
Comment[lv]=Konfigurēt politikas uzticamajām darbībām sistēmā
Comment[nl]=Beleid voor vertrouwde acties in het systeem configureren
Comment[pt]=Configurar as políticas para as acções fidedignas no sistema
Comment[pt_BR]=Configure as políticas para as ações confiáveis no sistema
Comment[ro]=Configurează politici pentru acțiunile de încredere în sistem
Comment[sv]=Anpassa policy för pålitliga åtgärder i systemet
Comment[uk]=Налаштування правил щодо виконання довірених дій у системі
Comment[x-test]=xxConfigure policies for trusted actions in the systemxx
Comment[zh_TW]=設定系統中可信任動作的政策

X-KDE-Keywords=system,policy,policies,security,polkit,policykit,password
